{% extends "base.html" %}

{% block body %}


<div class="row">
		 <div class="col-lg-6 col-md-12">
		  <div class="card">
			<div class="card-header card-header-info">
			  <h4 class="card-title">{{ _("Credits") }}</h4>
			  <p class="card-category">{{ _("This wallet wouldn't have existed without...") }}</p>
			</div>
			<div class="card-body">
                <ul>
					<!-- html text have to use { % raw % } instead of { {  } } -->
                    <li>{% raw _("The \"Material Dark\" template by <a href=\"https://www.creative-tim.com\" target=\"_blank\">Creative Tim</a>") %}</li>
                    <li>{{ _("Python, awesome language!") }}</li>
                    <li>{% raw _('The <a href="https://www.tornadoweb.org/en/stable/index.html" target="_blank">Tornado</a> web application framework') %}</li>
                </ul>
          </div>
			</div>
		  </div>

		 <div class="col-lg-6 col-md-12">
		  <div class="card">
			<div class="card-header card-header-success">
			  <h4 class="card-title">{{ _("About") }}</h4>
			  <p class="card-category"></p>
			</div>
			<div class="card-body">
                <ul>
                    <li>{{ _("Tornado wallet version {}").format(bismuth['wallet_version']) }}</li>
                    <li>{% raw _("This is the default wallet theme by {} from {}.").format('<a href="https://twitter.com/EggPoolNet" target="_blank">EggdraSyl</a>', 'the Bismuth Foundation') %}</li>
                </ul>
          </div>
			</div>
		  </div>


</div>





{% end %}
