{% extends "base.html" %}

{% block body %}


<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">{{ _("Cristals")}}</h4>
                <p class="card-category">{{ _("Cristals are extra functionalities you can add to your wallet")}}</p>
            </div>
            <div class="card-body">
                {{ _("WIP")}}
            </div>
        </div>
    </div>


</div>


{% end %}
