

{% extends "base.html" %}

{% block body %}

<div class="row">


	 <div class="col-lg-6 col-md-12">
		  <div class="card">
			<div class="card-header card-header-info">
			  <h4 class="card-title">{{ _("Current Wallet")}}</h4>
			</div>
			<div class="card-body">
				{{ wallet['file'] }}<br>
				{{ wallet['address'] }}<br>
				{{ wallet['encrypted'] }}<br>
			</div>
		  </div>
	 </div>

		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
	  <div class="card card-stats">
		<a href="/wallet/load">
			<div class="card-header card-header-success card-header-icon">
			  <div class="card-icon">
				<i class="material-icons">move_to_inbox</i>
			  </div>
			  <p class="card-category">{{ _("Open existing")}}</p>
			  <h3 class="card-title">{{ _("wallet")}}</h3>
			</div>
			<div class="card-footer">
			  <div class="stats">
				{{ _("Load a wallet from disk")}}
			  </div>
			</div>
		</a>
	  </div>
	</div>

		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
	  <div class="card card-stats">
		<form action="/wallet/create/">
			<div class="card-header card-header-warning card-header-icon">
			  <div class="card-icon">
				<i class="material-icons">create_new_folder</i>
			  </div>
			  <p class="card-category">{{ _("Create a")}}</p>
			  <h3 class="card-title">{{ _("new wallet")}}</h3>
			</div>
			<div class="card-footer">
			  <div class="stats">
				<input type="text" name="wallet" placeholder="wallet_file_name">
				  <input type="submit" value="{{ _("Ok")}}">
			  </div>
			</div>
		</form>
	  </div>
	</div>


</div>

{% end %}

